.header{
    background-color: darkcyan;
    padding: 15px 0px;
}
.header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.header nav a:hover{
    color: white;
}